In [1]:
print ("hello world")

hello world

In [2]:
'''
print ("hello world")
print ("hello world")

'''


print ("hello world")

hello world

In [3]:
# 计算工资

name = "Hao Huang"
age = 25
monthMoney = 8888
month = 12

yearMoney = monthMoney * month

print(name + "的年薪是" + str(yearMoney)) #需要转换字符串str

Hao Huang的年薪是106656

In [12]:
# 介绍自己

print("我的名字叫做%s,我的年龄是%d" %(name,age)) 


''' %前不要加逗号，会报错。'''

我的名字叫做Hao Huang,我的年龄是25

' %前不要加逗号，会报错。'

In [11]:
# 书的价格

bookPrice = float(input("书的价格是多少？"))
bookNum = float(input("买多少本？"))
bookPay = bookPrice * bookNum
print("需要支付的钱为%.2f" %bookPay)

'''

需要转换为float才行，否则会报错。以下是报错版本

bookPrice = input("书的价格是多少？")
bookNum = input("买多少本？")
bookPay = bookPrice * bookNum
print("需要支付的钱为%d" %bookPay)

'''

书的价格是多少？ 12.3
买多少本？ 2

需要支付的钱为24.60

'\n需要转换为float才行，否则会报错。\nbookPrice = input("书的价格是多少？")\nbookNum = input("买多少本？")\nbookPay = bookPrice * bookNum\nprint("需要支付的钱为%d" %bookPay)\n'